/* Variables */
:root {
    --hover-animation-speed: 200ms;
    --caterize-gradient: linear-gradient(270deg, var(--base-color-system--red-500) 0%, var(--base-color-system--red-orange) 100%);
}

/* Animations n*/
@keyframes scrollPartnerLogos {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(calc(-100% - 3rem));
    }
}

@keyframes growFont {
    0% {
        font-variation-settings: 'wght' 500
    }

    100% {
        font-variation-settings: 'wght' 700
    }
}

/* CSS Only Marquee with pause on hover */
.logo3_container .logo3_component {
    animation: scrollPartnerLogos 25s linear infinite;
}

.logo3_container:hover .logo3_component {
    animation-play-state: paused;
}

/* Benefit & Feature Card Hover */
@media only screen and (min-width: 992px) {

    .layout401_card,
    .layout238_item {
        position: relative;
        transition: background var(--hover-animation-speed) ease;
    }

    .layout401_card .button,
    .layout238_item .button {
        position: relative;
        color: var(--text-color--text-primary);
        transition: color var(--hover-animation-speed) ease;
    }

    .layout401_card .button:after,
    .layout238_item .button:after {
        content: '';
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-image: var(--caterize-gradient);
        opacity: 0;
        border-radius: var(--border-radius--small);
        transition: opacity var(--hover-animation-speed) ease;
    }

    .layout401_card:hover,
    .layout238_item:hover {
        background: var(--background-color--background-primary);
    }

    .layout401_card:hover .button,
    .layout238_item:hover .button {
        color: var(--link-color--link-alternate);
    }

    .layout401_card:hover .button:after,
    .layout238_item:hover .button:after {
        opacity: 1;
    }
}

/* Testimonial Cards */
@media only screen and (max-width: 991px) {
    .testimonial18_card:nth-child(odd) .global-light {
        display: none;
    }
}

.testimonial18_card:nth-child(2) .global-light,
.testimonial18_card:nth-child(5) .global-light,
.testimonial18_card:nth-child(6) .global-light {
    display: none;
}

/* Team Member Cards */
.team8_item:nth-child(even) .team8_item-light {
    display: none;
}

/* Only display 3 Blog Posts on desktop */
@media only screen and (min-width: 992px) {
    .blog44_item-3:nth-child(n+4) {
        display: none;
    }
}

/* Blog Post Card Hover */
@media only screen and (min-width: 992px) {

    /* Drop Shadow */
    .blog44_item-3,
    .blog44_item-6,
    .blog10_featured-item {
        position: relative;
    }

    .blog44_item-3:after,
    .blog44_item-6:after,
    .blog10_featured-item:after {
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: block;
        content: '';
        opacity: 0;
        overflow: hidden;
        border-radius: var(--border-radius--medium);
        background: var(--background-color--background-primary);
        box-shadow: 0 2.5rem 4rem 0 rgba(0, 0, 0, 0.12);
        transition: opacity var(--hover-animation-speed) ease;
    }

    .blog44_item-link,
    .blog10_featured-link,
    .blog10_item-link {
        position: relative;
        z-index: 2;
    }

    .blog44_item-3:hover:after,
    .blog44_item-6:hover:after,
    .blog10_featured-item:hover:after {
        opacity: 1;
    }

    /* Button */
    .blog44_item-3 .button,
    .blog44_item-6 .button,
    .blog10_featured-item .button,
    .blog10_item-link .button {
        position: relative;
        transition: color var(--hover-animation-speed) ease;
    }

    .blog44_item-3 .button:before,
    .blog44_item-6 .button:before,
    .blog10_featured-item .button:before,
    .blog10_item-link .button:before {
        content: '';
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-image: var(--caterize-gradient);
        opacity: 0;
        border-radius: var(--border-radius--small);
        transition: opacity var(--hover-animation-speed) ease;
    }

    .blog44_item-3:hover .button,
    .blog44_item-6:hover .button,
    .blog10_featured-item:hover .button,
    .blog10_item-link:hover .button {
        color: var(--link-color--link-alternate);
    }

    .blog44_item-3:hover .button:before,
    .blog44_item-6:hover .button:before,
    .blog10_featured-item:hover .button:before,
    .blog10_item-link:hover .button:before {
        opacity: 1;
    }
}

/* Alternate CTA Hover */
@media only screen and (min-width: 992px) {

    /* Desktop Only */
    .cta38_component:hover a {
        color: var(--text-color--text-primary);
    }

    .cta38_component:hover a:hover {
        color: var(--base-color-system--red-500);
        border-color: var(--base-color-system--red-500);
        animation: growFont forwards var(--hover-animation-speed) ease;
    }
}

/* Text Elements */
blockquote {
    position: relative;
}

blockquote:before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    bottom: 0;
    width: 0.1875rem;
    background-image: linear-gradient(180deg, rgba(195, 38, 45, 0) 0%, rgba(195, 38, 45, 1) 50%, rgba(195, 38, 45, 0) 100%);
}

.text-rich-text figcaption:before {
    display: inline-block;
    margin-right: 0.5rem;
    content: '';
    width: .5rem;
    height: .5rem;
    border-radius: 100%;
    background: var(--base-color-system--red-500);
}

.text-rich-text figure img {
    border-radius: var(--border-radius--large);
}

.content5_heading-wrapper:before,
.content5_heading-wrapper:after {
    position: absolute;
    content: '';
    left: 0;
    right: 0;
    height: 1px;
    background-image: linear-gradient(-90deg, rgba(250, 79, 46, 0) 17%, var(--base-color-system--red-500) 100%);
}

.content5_heading-wrapper:before {
    top: 0;
}

.content5_heading-wrapper:after {
    bottom: 0;
}

/* Primary Button Hover State */
.button,
.form-button-hover-fix {
    position: relative;
    z-index: 0;
}

.form-button-hover-fix:before,
.form-button-hover-fix:after,
.button:not(input):not(.is-secondary):before {
    content: '';
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    border-radius: var(--border-radius--small);
}

.button:not(input):not(.is-secondary):before,
.form-button-hover-fix:after {
    opacity: 0;
    transition: opacity var(--hover-animation-speed) ease;
}

.button:not(input):not(.is-secondary),
.form-button-hover-fix:before {
    background-image: var(--caterize-gradient);
}

.form-button-hover-fix:before {
    z-index: -2;
}

.form-button-hover-fix:after {
    z-index: -1;
}

.button:not(input):not(.is-secondary):before,
.form-button-hover-fix:after {
    background: var(--base-color-system--red-500);
}

.button:not(input):not(.is-secondary):hover:before,
.form-button-hover-fix:hover:after {
    opacity: 1;
}

/* Pseudo Text */
.is-pseudo-text {
    position: relative;
}

.is-pseudo-text:after {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 2;
    content: attr(dd-label);
    color: transparent;
    background-image: var(--caterize-gradient);
    background-clip: text;
    opacity: 0;
    transform: translate(-50%, -50%);
    transition: opacity var(--hover-animation-speed) ease;
}

.is-pseudo-text:hover:after {
    opacity: 1;
}

/* Navbar Hover State */
.navbar1_link {
    position: relative;
    color: var(--link-color--link-primary);
    transition: color var(--hover-animation-speed) ease;
}

/* Navbar Current Page State */
.navbar1_link.w--current {
    cursor: default;
    color: transparent;
    background-image: var(--caterize-gradient);
    background-clip: text;
}

/* Navbar Link Hover State */
.navbar1_link:not(.w--current):before {
    position: absolute;
    content: '';
    left: 50%;
    bottom: -0.75rem;
    width: 2.625rem;
    height: 1.5rem;
    background-image: radial-gradient(50% 50% at 50% 50%, rgba(195, 38, 45, 0.32) 0%, rgba(250, 112, 46, 0.32) 100%);
    opacity: 0;
    z-index: -1;
    opacity: 0;
    transform: translateX(-50%);
    transition: opacity var(--hover-animation-speed) ease;
    filter: blur(0.98181819915rem);
}

.navbar1_link+.navbar1_hover {
    opacity: 0;
    background-image: var(--caterize-gradient);
    transition: color var(--hover-animation-speed) ease;
}

.navbar1_link:not(.w--current):hover:before,
.navbar1_link:not(.w--current):hover+.navbar1_hover {
    opacity: 1;
}

/*
.navbar1_link.is-pseudo-text:after {
    padding: 1.5rem 1rem;
}
    */

/* Footer Link Hover State */
.footer3_link {
    position: relative;
    text-indent: 0.75rem;
    border-radius: var(--border-radius--small);
    overflow: hidden;
}

.footer3_link:before {
    position: absolute;
    content: '';
    left: -1.3125rem;
    bottom: 0.4860625rem;
    width: 2.625rem;
    height: 1.5rem;
    background-image: radial-gradient(50% 50% at 50% 50%, rgba(195, 38, 45, 0.32) 0%, rgba(250, 112, 46, 0.32) 100%);
    opacity: 0;
    transition: opacity var(--hover-animation-speed) ease;
    filter: blur(0.98181819915rem);
}

.footer3_link:hover:before {
    opacity: 1;
}

/*
.footer3_link.is-pseudo-text:after {
    padding: 0.5rem 0;
}
    */

/* First Section Padding for Macbook and smaller dimensions */
@media only screen and (min-height: 900px) {
    .main-wrapper section:first-child {
        padding-top: 0.75rem;
    }
}

/* Layout 350 Tabs Image on Smaller Desktops */
@media only screen and (max-height: 899px) {

    .layout350_desktop-image-wrapper {
        top: 2.5rem;
    }
}